.navbar {
 font-weight: 500;
 letter-spacing: .05em;
}

.home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grow:hover { 
  transform: scale(1.2); 
}

.logo {
  display: block;
  vertical-align: baseline;
  max-height: 65px;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar li {
  color: #000;
}

.navbar-right {
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}


.navbar-text {
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 40px;
  font-style: italic;
  color: #ffffff !important;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}




.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.white {
  background-color: white;
}


body {
  background: url("images/overboats.png") fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.white {
  background-color: white;
}

.jumbotron {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.jumbotron h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 15px;
  padding-left: 25px;
}

.jumbotron p {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff; 
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-weight: 300;
}

.intro {
  background-color: white;
  padding: 5% 5% 10% 10%;
  font-family: 'Quicksand', sans-serif;

}

.intro h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 46px;
  font-weight: 700;
}

.intro p {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 300;
}


.col-md-6 img {
  width:240px; 
  height: auto; 
  border-radius: 50px;
}

img.ri {
  max-width: 80%;
  top: 10%;
  margin-left: 30%;
} 

.contact h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  background-color: white;
}



  .button{
    padding:8px 12px;
    background:white;
    display: block;
    width:20%;
    margin:0px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    text-decoration: none;
    margin-bottom: 50px;
  }

  .button:hover{
    background:white;
    color:white;
    text-decoration: none;
  }

/* Send Button Styles */

  .form-btn{
    width: 20%;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:#8BC3A3;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 50px;
  }

  .form-btn:hover{
    background:white;
    color: white;
    border:none;
    text-decoration: none;
    margin-bottom: 50px;
  }

  .form-btn:active{
    opacity: 0.9;
    text-decoration: none;
    margin-bottom: 50px;
  }

.form-btn {
  margin-left: 40%;
  margin-right: 40%;
  margin-bottom: 50px;
}

.spacer {
  height: 15px;
}

.spacer2 {
  height: 20px;
}

.row h1 {
 text-align: center;
}

input {
    position: relative;
    z-index: 9999;
}

.contact h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
}


.contact {
  background-color: rgb(51,51,51);
}
body {
  font-family: 'Raleway', sans-serif;
}

footer {
  background:#363b3f;
  padding-bottom: 30px;
 }

footer p {
  font-size:12px;
  color:#fff;
  text-align:center;
  padding-top: 20px;
}

footer ul {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}

footer li {
    display: inline-block;
    margin: 4px;
}

footer li a {
    display: block;
    text-decoration: none;
    border-bottom: medium none;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s, all 1s ease 0s;
    background: #444749;
}

footer .facebook:hover {
  background-color:#365397;
}
footer .twitter:hover {
  background-color:#00a9f1;
}
footer .email:hover {
  background-color:#e0452c;
}
footer .youtube:hover {
  background-color:#ff3333;
}
footer .instagram:hover {
  background-color:#396d9a;
}


@media only screen and (max-width:675px) {
  .facebook {
    display: none;
  }

  .twitter {
    display: none;
  }

 .snapchat {
    display: none;
  }

}

@media only screen and (max-width:420px) {
  .navbar-text {
    display: none;
  }
}

@media only screen and (max-width:675px) {
  .facebook {
    display: none;
  }

  .twitter {
    display: none;
  }

 .snapchat {
    display: none;
  }

}

@media only screen and (max-width: 790px) {
  .griffin {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 420px) {
  .form-btn {
    margin-left: 10%;
    width: 80%;
  }
}


@media only screen and (max-width: 360px) {
  .form-btn {
    margin-left: 8%;
  }

  img.ri {
    margin-left: 7%;
  }
}


@media only screen and (max-width: 420px) {
  img.ri {
    margin-left: 17%;
  }
  .navbar-text {
    display: none;
  }

  .navbar {
    height: 100px;
  }
}