* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height:100%;
}


.navbar {
 font-weight: 500;
 letter-spacing: .05em;
}

.home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  display: block;
  vertical-align: baseline;
  max-height: 65px;
}

.navbar {
  background-color: rgb(51,51,51);
}

.navbar li {
  color: #000;
}

.navbar-right {
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-text {
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 40px;
  font-style: italic;
  color: #ffffff !important;
  font-family: 'Quicksand', sans-serif;
  font-weight: 00;
}


.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
 

.grow:hover { 
  transform: scale(1.2); 
}

body {
  margin:0;
  background:white;
  font-size:1.3em;
  color:#333;
  font-family: 'Quicksand', sans-serif;
}

section {
  float: left;
  width:100%;
  background:#fff;
  position:relative;
}

div .content {
  width: 100%;
}


/* the important styles */

.arrow-wrap {
  position:absolute;
  z-index:1;
  left:50%;
  top:-5em;
  margin-left:-5em;
  background:#111;
  width:10em;
  height:10em;
  padding:4em 2em;
  border-radius:50%;
  font-size:0.5em;
  display:block;
  box-shadow:0px 0px 5px 0px #333;
}

.arrow {
  float:left;
  position:relative;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #ffffff transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}

.arrow:after {
  content:'';
  position:absolute;
  top:-3.2em;
  left:-3em;
  width: 0px;
height: 0px;
border-style: solid;
border-width: 3em 3em 0 3em;
border-color: #111 transparent transparent transparent;
  -webkit-transform:rotate(360deg)
}


.hint {
  position:absolute;
  top:0.6em;
  width:100%;
  left:0;
  font-size:2em;
  font-style:italic;
  text-align:center;
  color:#fff;
  opacity:0;
}


.arrow-wrap:hover .hint {
  opacity:1;
}


  @-webkit-keyframes arrows {
    0% { top:0; }
    10% { top:12%; }
    20% { top:0; }
    30% { top:12%; }
    40% { top:-12%; }
    50% { top:12%; }
    60% { top:0; }
    70% { top:12%; }
    80% { top:-12%; }
    90% { top:12%; }
    100% { top:0; }
  }
  
  .arrow-wrap .arrow {
    -webkit-animation: arrows 2.8s 0.4s;
    -webkit-animation-delay: 3s;
  }



/*  this is the unimportant CSS used just to layout the content  */



header {
  float:left;
  width:100%;
  color:#fff;
  height: 475px;
  background-image: url("images/offdeck.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h1 {
  margin-top: 100px;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-size: 80px;
  font-weight: 500;
}

header h3 {
  text-align: center;
  margin:0;
  color: white ;
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  font-weight: 300;
}

header a {
  color:#56dcee;
  opacity:0.5;
  text-decoration:none;
}

header a:hover {
  color:#333;
  opacity:1;
}


div h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight:500;
  font-size:50px;
  padding-top: 500px;
  margin-left: 13%;
}

.row {
  margin-top: 30px;
}

h2, h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight:300;
  font-size:1.5em;
  margin-top:2em;
}

iframe {
  padding: 5px;
  align-content: center;
}

.row {
  align-content: center;
  margin-left: 13%;
}

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

button {
  margin-left: 2%;
  width: 405px;
  font-family: 'Quicksand', sans-serif;
  font-size: 60px;

}

.spacer {
  height: 15px;
}

/*footer*/ 

footer {
  background:#363b3f;
  padding-bottom: 20px;
 }

footer p {
  font-size:12px;
  color:#fff;
  text-align:center;
  padding-top: 20px;
}

footer ul {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}

footer li {
    display: inline-block;
    margin: 4px;
}

footer li a {
    display: block;
    text-decoration: none;
    border-bottom: medium none;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s, all 1s ease 0s;
    background: #444749;
}

footer .facebook:hover {
  background-color:#365397;
}
footer .twitter:hover {
  background-color:#00a9f1;
}
footer .email:hover {
  background-color:#e0452c;
}
footer .youtube:hover {
  background-color:#ff3333;
}
footer .instagram:hover {
  background-color:#396d9a;
}


@media only screen and (max-width:675px) {
  .facebook {
    display: none;
  }

  .twitter {
    display: none;
  }

 .snapchat {
    display: none;
  }

}

@media only screen and (max-width:450px) {
  .navbar-text {
    display: none;
  }
}