.navbar {
 font-weight: 500;
 letter-spacing: .05em;
}

.home-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.grow:hover { 
  transform: scale(1.2); 
}

.logo {
  display: block;
  vertical-align: baseline;
  max-height: 65px;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.navbar li {
  color: #000;
}

.navbar-right {
  margin-right: 15px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}


.navbar-text {
  font-weight: 300;
  letter-spacing: .05em;
  margin-top: 40px;
  font-style: italic;
  color: #ffffff !important;
  font-family: 'Quicksand', sans-serif;
  font-weight: 200;
}




.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}



body {
  background: url("https://s3-us-west-2.amazonaws.com/boothby-media/lighthouse.jpg") fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.work {
  display: block;
  border-color: #ffffff;
  border-width: 3px;
  border-style: solid;
  padding: 15px;
  width: 185px;
  transition: all .2s;
  font-family: 'Quicksand', sans-serif;
}

.work:hover
{
  box-shadow: inset 0 0 0 5px white;
}

.jumbotron {
  background-color: transparent;
  background: transparent;
  border-color: transparent;
}

.jumbotron h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #ffffff;
  padding-top: 5%;
  padding-bottom: 15px;
  padding-left: 25px;
}

.jumbotron p {
  font-family: 'Quicksand', sans-serif;
  color: #ffffff; 
  font-size: 20px;
  padding-bottom: 15px;
  padding-left: 25px;
  font-weight: 300;
}

.work {
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.intro {
  background-color: white;
  padding: 5% 5% 10% 10%;
  font-family: 'Quicksand', sans-serif;

}

.intro h1 {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.intro p {
  font-family: 'Quicksand', sans-serif;
  font-size: 26px;
  font-weight: 300;
}

.image-container {
  background-color: white;
  padding-bottom: 30px;
}


.images {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    opacity: 0.4;
    position: relative; 
}

.images:hover {
  opacity: 1;
}

.img-content {
  position: absolute;
  margin-top: 25%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width: 92%;
}

.img-content h2 {
  font-weight: 700;
  font-size: 50px;
}


.contact {
  background-color: rgb(51,51,51);
}
body {
  font-family: 'Raleway', sans-serif;
}

footer {
  background:#363b3f;
  padding-bottom: 30px;
 }

footer p {
  font-size:12px;
  color:#fff;
  text-align:center;
  padding-top: 20px;
}

footer ul {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-left: 0px;
}

footer li {
    display: inline-block;
    margin: 4px;
}

footer li a {
    display: block;
    text-decoration: none;
    border-bottom: medium none;
    padding: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s, all 1s ease 0s;
    background: #444749;
}

footer .facebook:hover {
  background-color:#365397;
}
footer .twitter:hover {
  background-color:#00a9f1;
}
footer .email:hover {
  background-color:#e0452c;
}
footer .youtube:hover {
  background-color:#ff3333;
}
footer .instagram:hover {
  background-color:#396d9a;
}


@media only screen and (max-width:675px) {
  .facebook {
    display: none;
  }

  .twitter {
    display: none;
  }

 .snapchat {
    display: none;
  }

}

@media only screen and (max-width:400px) {
  .navbar-text {
    display: none;
  }
}